In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import sklearn.cluster
import sys
sys.path.append('../com')
from lc_helpers import *
%matplotlib inline
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (15.0, 7.0)
sns.set(style="ticks")

/Users/MGS/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
states = ['state_MT', 'state_NE', 'state_NV', 'state_NH', 'state_NJ',
          'state_NM', 'state_NY', 'state_NC', 'state_ND', 'state_OH',
          'state_OK', 'state_OR', 'state_PA', 'state_RI', 'state_SC',
          'state_SD', 'state_TN', 'state_TX', 'state_UT', 'state_VT',
          'state_VA', 'state_WA', 'state_WV', 'state_WI', 'state_WY',
          'state_AL', 'state_AK', 'state_AZ', 'state_AR', 'state_CA',
          'state_CO', 'state_CT', 'state_DE', 'state_FL', 'state_GA',
          'state_HI', 'state_ID', 'state_IL', 'state_IN', 'state_IA',
          'state_KS', 'state_KY', 'state_LA', 'state_ME', 'state_MD',
          'state_MA', 'state_MI', 'state_MN', 'state_MS', 'state_MO']

purposes = ['purpose_car', 'purpose_credit_card', 'purpose_debt_consolidation',
            'purpose_educational', 'purpose_home_improvement', 'purpose_house',
            'purpose_major_purchase', 'purpose_medical', 'purpose_moving',
            'purpose_other', 'purpose_renewable_energy',
            'purpose_small_business', 'purpose_vacation', 'purpose_wedding']

In [3]:
data_folder = '../data/'

In [4]:
training = pd.read_csv('{}{}'.format(data_folder, 'LoanStats3a.csv'))
testing = pd.read_csv('{}{}'.format(data_folder, 'LoanStats3b.csv'))

/Users/MGS/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
training.pipe(create_relevant_subset).pipe(create_factors)['annualized_profit'].describe()

count    31534.000000
mean         1.015815
std          0.108587
min          0.000000
25%          1.027587
50%          1.043288
75%          1.060458
max          1.164457
Name: annualized_profit, dtype: float64

In [6]:
testing.pipe(create_relevant_subset).pipe(create_factors)[0]['annualized_profit'].describe()

count    43470.000000
mean         1.021463
std          0.103498
min          0.000000
25%          1.030395
50%          1.048352
75%          1.067029
max          1.126129
Name: annualized_profit, dtype: float64

In [20]:
# choose which grades to regress
grades = [
    #'A',
    #'B',
    #'C',
    #'D', 
    'E', 
    #'F', 
    #'G'
]

In [21]:
# pick the x and y variables to use in the regression
xs = [
    'dti', 
    'int_rate',
    'loan_amnt', 
    'mths_since_last_delinq', 
    'mths_since_last_record',
    # 'mths_since_last_major_derog',
    'revol_bal',
    'revol_util',
    'annual_inc',
    'open_acc',
    'total_acc',
    'pub_rec',
    'grade_int',
    'credit_history',
    'emp_length',
    'verified',
    'own_home',
    'installment',
    'delinq_2yrs',
    'inq_last_6mths',
    'joint_account'
] + purposes + states

y = [
    # 'defaulted',
    # 'profit',
    'annualized_profit'
]

In [ ]:
def get_ml_stats(test_set, train_set, test_preds, train_preds):
    test_dummies = pd.get_dummies(test_set)
    test_dummies['predictions'] = test_preds
    test_suggestion = 0
    if

In [26]:
sklearn.__path__

['/Users/MGS/anaconda/lib/python2.7/site-packages/sklearn']

# Clustering: Predict "Charged Off" or not

In [32]:
clust_input = training.pipe(create_relevant_subset, grades=grades).pipe(create_factors).pipe(remove_nans).loc[:,xs+y]
est = sklearn.cluster.KMeans(n_clusters=2)
clust_preds = est.fit(clust_input)

AttributeError: 'tuple' object has no attribute 'pipe'

In [30]:
clust_train = pd.get_dummies(training.pipe(create_relevant_subset, grades=grades)['loan_status'])
clust_train['predictions'] = clust_preds.labels_

In [203]:
# pd.get_dummies(training.pipe(create_relevant_subset, grades=grades)['loan_status'])['Charged Off']
# clust_train[clust_train['Charged Off']==clust_train['predictions']][clust_train['Fully Paid']==1]
clust_train[clust_train['predictions']==1]

       Charged Off  Fully Paid  predictions
597              1           0            1
1477             0           1            1
2306             0           1            1
2369             0           1            1
3103             0           1            1
3890             1           0            1
4384             1           0            1
5179             0           1            1
5399             0           1            1
5598             0           1            1
5689             1           0            1
7481             0           1            1
7580             0           1            1
7638             0           1            1
8009             0           1            1
8448             0           1            1
9901             0           1            1
10330            0           1            1
11207            1           0            1
11240            0           1            1
11701            1           0            1
11770            1           0            1
12348            0           1            1
13179            0           1            1
15738            0           1            1
15914            0           1            1
16168            0           1            1
16988            0           1            1
17825            0           1            1
18476            0           1            1
...            ...         ...          ...
40767            0           1            1
40776            0           1            1
40807            0           1            1
40852            0           1            1
40874            0           1            1
40931            0           1            1
40951            0           1            1
40979            1           0            1
41004            1           0            1
41028            0           1            1
41059            1           0            1
41071            0           1            1
41238            0           1            1
41285            0           1            1
41320            0           1            1
41351            1           0            1
41401            0           1            1
41406            1           0            1
41460            0           1            1
41533            0           1            1
41669            0           1            1
41674            1           0            1
41770            0           1            1
41817            0           1            1
41958            0           1            1
42041            0           1            1
42229            1           0            1
42271            0           1            1
42317            0           1            1
42350            0           1            1

[134 rows x 3 columns]

In [204]:
a = testing.pipe(create_relevant_subset, grades=grades).pipe(create_factors)[0].pipe(remove_nans).loc[:,xs+y]

clust_test = pd.get_dummies(testing.pipe(create_relevant_subset, grades=grades)['loan_status'])

clust_test['predictions'] = est.predict(a)

In [217]:
clust_test[clust_test['predictions']==0][clust_test['Default']==1]

,Charged Off,Current,Default,Fully Paid,Late (16-30 days),Late (31-120 days),predictions
146812,0,0,1,0,0,0,0

In [214]:
len(clust_test[clust_test['Fully Paid']==1])

617

# Neural Network: Predict "Charged Off" or not